
#container, #main, #content-home, #content, #side-panel, #main-content, #footer, #header-home, #header{
  width:100%;
  margin:0 auto;
  float:none;
  overflow: hidden;
}
#nav,object, #header-home h1, #header h1{display:none;}

body, #header-home, #content-home, #header, #content, #main, #footer{
  background:none;
}

#logo{
  float:none;
}

.hero{
  text-align: center;
  background:none;
  padding:20px 0;
}

#main img{
  max-width:100%;
  height:auto;
}

#header-home, #header, h1{
  height:auto;
  text-align: center;
}

#footer{
  height:auto;
  color:#333;
}
#footer a{
  color:#333;
}
